<div class="services">
    <div class="service-cards">
        <div class="service-card">
            <div class="service-image">
                <img src="./assets/photos/metal.webp" >
            </div>
    
            <div class="service-title">
                <h4>Złom stalowy, żeliwo</h4>
            </div>
    
            <div class="service-description">
                Jesteśmy zaangażowani w skup złomu oraz metali kolorowych w konkurencyjnych cenach
            </div>
    
            <div class="service-button">
                <button pButton pRipple label="Zobacz więcej" class="p-button-success p-button-sm"></button>
            </div>
        </div>
    
        <div class="service-card">
            <div class="service-image">
                <img src="./assets/photos/metal.webp" >
            </div>
    
            <div class="service-title">
                <h4>Metale szlachetne</h4>
            </div>
    
            <div class="service-description">
                Jesteśmy zaangażowani w skup złomu oraz metali kolorowych w konkurencyjnych cenach
            </div>
    
            <div class="service-button">
                <button pButton pRipple label="Zobacz więcej" class="p-button-success p-button-sm"></button>
            </div>
        </div>
    
    
        <div class="service-card">
            <div class="service-image">
                <img src="./assets/photos/metal.webp" >
            </div>
    
            <div class="service-title">
                <h4>Kontenery</h4>
            </div>
    
            <div class="service-description">
                Jesteśmy zaangażowani w skup złomu oraz metali kolorowych w konkurencyjnych cenach
            </div>
    
            <div class="service-button">
                <button pButton pRipple label="Zobacz więcej" class="p-button-success p-button-sm"></button>
            </div>
        </div>


        <div class="service-card">
            <div class="service-image">
                <img src="./assets/photos/metal.webp" >
            </div>
    
            <div class="service-title">
                <h4>Nawozy</h4>
            </div>
    
            <div class="service-description">
                Jesteśmy zaangażowani w skup złomu oraz metali kolorowych w konkurencyjnych cenach
            </div>
    
            <div class="service-button">
                <button pButton pRipple label="Zobacz więcej" class="p-button-success p-button-sm"></button>
            </div>
        </div>
    
    </div>
</div>

