<div style="display: flex; justify-content: center; align-items: center;">
    <div class="contact">
        <div class="contact-item address">
            <div class="contact-icon">
                <i class="pi pi-map-marker"></i>
            </div>
            <div class="contact-description">
                <h3> Adres:</h3>
                <div>
                    Sileda Krzysztof Kowalski
                </div>
                <div>
                    Lubelska 133
                </div>
                <div>
                    22-375 Izbica
                </div>
            </div>
        </div>
    
        <div class="contact-item phone">
            <div class="contact-icon">
                <i class="pi pi-phone"></i>
            </div>
            <div class="contact-description">
                <h3> Telefon kontaktowy:</h3>
                <div>
                    +48 123 456 789
                </div>
            </div>
        </div>
    
        <div class="contact-item email">
            <div class="contact-icon">
                <i class="pi pi-envelope"></i>
            </div>
            <div class="contact-description">
                <h3> Email:</h3>
                <div>
                    kontakt@sileda.pl
                </div>
            </div>
        </div>
    
        <div class="contact-item open-hours">
            <div class="contact-icon">
                <i class="pi pi-calendar-times"></i>
            </div>
            <div class="contact-description">
                <h3> Godziny otwarcia:</h3>
                <div>
                    8:00 - 16:00 (pon-pt)
                </div>
            </div>
        </div>
    </div>
    
</div>
<div>
    <div class="map-container" #map id="map"></div>
</div>